<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/aboutus.jpg" alt="img2" class="h-33 img-fluid pb-4">
            <img src="assets/beforeafter.jpg" alt="img1" class="h-33 img-fluid pb-4">
            <img src="assets/murti.jpg" alt="img3" class="h-33 img-fluid ">
        </div>
        <div class="col-md-7 pb-2">
            <table *ngIf="translatebooelan===false">
                <tr>
                    <td>
                        Shree Balaji Temple in Shrigonda, Maharashtra, is a testament to the region's rich cultural
                        heritage. This ancient temple, dedicated to Lord Venkatesh Balaji, has been a revered site for
                        over 250 years, providing a sacred space for devotees who cannot travel to Tirupati.


                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        The temple's history dates back to the Satavahana, Chalukya, and Yadava periods, with various
                        chieftains from the Chatrapati Shree Shivaji Maharaj era to the Peshwa period contributing to
                        its development and
                        maintenance. Notably, Shree Pandurang Moreshwar Kshirsagar initiated the temple's construction
                        somewhere during 1780. In the year 1786, His Highness Shree Jankoji Sinde Sarkar honored Shree
                        Pandurang Kshirsagar with 30 bhigas land for this religious work.


                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        Through eight generations, the Kshirsagar family has diligently maintained the temple's daily
                        rituals and worship. Currently, Shri Govind Parshuram Dixit, supported by family members, is
                        responsible for the temple's management. The new generation of the Dixit family took an
                        initiative on 28th Dec, 2023 under which the temple has undergone significant renovations,
                        including the restoration of the stone structure, gardens, and groves.


                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        The revival of this ancestral heritage is a testament to the dedication of Shree Dixit and his
                        family. Dr. Prashant Anant Suru, former Chief Trustee of the Shree Dnyaneshwar Maharaj Sanstha
                        Alandi, played a vital role in this endeavor. The contributions of Sri Rangappa, Sri Lingeshwar
                        Maitre, and Laxmi Construction have also been instrumental in restoring the temple to its
                        original glory.

                        The temple's restoration includes the reconstruction of the torana, the revival of traditional
                        architecture, and the conservation of broken sculptures. The sacred Deepmal has been erected,
                        and the temple is now ready for devotees to offer their prayers.



                    </td>
                </tr>
                <br />
                <tr>
                    <td>To mark this significant milestone, a dedication ceremony was held on July 21, 2024, Guru
                        Purnima, followed by the inauguration of the Dalan of Sri Ramakrishna Kshirsagar. Shree
                        Saurabhji Bora (Tirupati Tirumala Devasthanam trustee) was the Chief Guest and Dr. Shailesh
                        Gujar as one of Dignitary's for this function held at Shree Balaji Mandir, Shrigonda,
                        Ahilyanagar (A.Nagar). More than 2 to 3 thousand devotees attended this function and had the
                        Mahaprasad. All the devotees took a pledge by chanting 'Govinda Govinda' three times to make
                        this temple as Prati Tirupati Balaji on the behest of Dr Gujar on this occasion.


                </tr>
                <br />
                <tr>
                    <td>

                        We hope that this ancient temple's preservation will be a source of pride for the community and
                        their families.
                    </td>
                </tr>
            </table>
            <table *ngIf="translatebooelan===true">
                <tr>
                    <td>
                        श्री बालाजी मंदिर, श्रीगोंदा, महाराष्ट्र हे क्षेत्रीय सांस्कृतिक वारशाचे प्रतीक आहे. भगवान
                        व्यंकटेश बालाजी यांना समर्पित हे प्राचीन मंदिर २५० हून अधिक वर्षांपासून पूज्यस्थळ आहे, जे
                        भक्तांना तिरुपती बालाजी समान आहे.

                        या मंदिराचा इतिहास सातवाहन, चालुक्य, आणि यादव काळापर्यंत जातो, आणि छत्रपती श्री शिवाजी महाराज
                        काळापासून पेशवे
                        काळापर्यंत विविध प्रमुखांनी मंदिराच्या विकास आणि देखभालीत योगदान दिले. ह. भ. प.श्री पांडुरंग
                        मोरेश्वर क्षीरसागर यांनी १७८० च्या सुमारास मंदिराची स्थापना केली. १७८६ साली, श्री जनकोजी शिंदे
                        सरकारने श्री पांडुरंग क्षीरसागर यांना या मंदिराच्या देखभालीसाठी ३० बिघा जमीन प्रदान केली.
                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        आठ पिढ्यांपासून क्षीरसागर कुटुंबाने मंदिराच्या दैनंदिन पूजा आणि व्यवस्थापनाची काळजी घेतली आहे.
                        सध्या, श्री गोविंद परशुराम दिक्षित आणि त्यांच्या कुटुंबाच्या सदस्य मंदिराचे व्यवस्थापन करत आहेत.
                        २८ डिसेंबर २०२३ रोजी नवीन पिढीने मंदिरात मोठ्या प्रमाणावर नूतनीकरण केले, ज्यात दगडाची रचना, बागा
                        आणि वनस्पतींचे पुनरुत्थान समाविष्ट आहे.

                        डॉ. श्री प्रशांत अनंत सुरु, पूर्व मुख्य ट्रस्टी, श्री ज्ञानेश्वर महाराज संस्थान , आळंदी यांची
                        भूमिका या कार्यात अत्यंत महत्वाची होती. श्री रंगप्पा, श्री लिंगेश्वर मैत्रे, आणि लक्ष्मी
                        कन्स्ट्रक्शनच्या योगदानामुळे मंदिराला प्राचीन वैभव पुन्हा प्राप्त झाले.
                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        मंदिराच्या पुनरुत्थानात पूर्व दरवाजा खूला करणे , पारंपारिक वास्तुकलेचे पुनरावलोकन, आणि तुटलेल्या
                        शिल्पांचे संरक्षण यांचा समावेश आहे. पवित्र दीपमाळ उभारण्यात आली आहे, आणि मंदिर आता भक्तांनी
                        त्यांच्या प्रार्थना अर्पण करण्यासाठी सज्ज आहे.
                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        या महत्त्वपूर्ण क्षणाची स्मृती म्हणून, २१ जुलै २०२४ रोजी, गुरुपौर्णिमा या दिवशी श्री रामकृष्ण
                        क्षीरसागर यांच्या दालनाचे उद्घाटन व या मंदिराच्या नवीन कामाचा लोकार्पण सोहळा करण्यात आला . श्री
                        सौरभजी बोरा (तिरुपती तिरुमाला देवस्थान ट्रस्टी) हे प्रमुख पाहुणे आणि डॉ. शैलेश गुजर यांची प्रमुख
                        उपस्थिती या कार्यक्रमाला लाभली . श्री बलाजी मंदिर, श्रीगोंदा, अहिल्यानगर (ए.नगर) येथे झालेल्या
                        या कार्यकमात २ ते ३ हजार भक्तांनी हजेरी लावली आणि महाप्रसाद घेतला. सर्व भक्तांनी डॉ. गुजर
                        यांच्या मार्गदर्शनानुसार 'गोविंदा गोविंदा' असे तीन वेळा जपून मंदिराला 'प्रति तिरुपती बलाजी'
                        करण्याची प्रतिज्ञा घेतली.
                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        आशा आहे की, या प्राचीन मंदिराचे संरक्षण समाजासाठी आणि त्यांच्या कुटुंबांसाठी गर्वाचे स्रोत ठरेल.
                    </td>
                </tr>
            </table>
        </div>
        <div class="col">
            <button *ngIf="translatebooelan===false" class="btn btn-outline-primary" type="button"
                (click)="translatebool()">मराठी मध्ये वाचा</button>
            <button *ngIf="translatebooelan===true" class="btn btn-outline-primary mt-2" type="button"
                (click)="translatebool()">Read In English</button>
        </div>
    </div>
</div>