<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/aboutus.jpg" alt="img2" class="h-33 img-fluid pb-4">
            <img src="assets/beforeafter.jpg" alt="img1" class="h-33 img-fluid pb-4">
            <img src="assets/murti.jpg" alt="img3" class="h-33 img-fluid ">
        </div>
        <div class="col-md-7 pb-2" >
            <table *ngIf="translatebooelan===false" >
                <tr>
                    <td>
                        The famous Sri Balaji Temple in Shrigonda is renowned in Maharashtra for its renovation and development for various gods, goddesses, and saint traditions. Known for its ancient temples from the Satavahana, Chalukya, and Yadava periods, it has been uplifted and endowed by various chieftains from the Shivaji era to the Peshwa period. Leaders
                        like Shinde, Holkar, Vinchurkar, etc., contributed land and resources for their maintenance and further development.
                    </td>
                </tr>
                <br /> 
                <tr>
                    <td>
                        Among these, the ancient temple installed in the famous village of Shrigonda is the 'Sri Venkatesh Balaji Temple, Shrigonda'. This historic site of Tirupati Balaji in Maharashtra has been home to its sacred deity for about 250 years, catering to devotees who can't travel far. The construction of this temple was initiated by HH. Pandurang Moreshwar
                        Kshirsagar in the Shinde administration, who allocated agricultural land and funds for its upkeep and daily rituals.
                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        Since then, worship and daily operations have been ongoing. The responsibility has passed through eight generations of the Kshirsagar family to Late Parshuram Shankar Dixit. Shri Govind Parshuram Dixit is currently managing it, supported by family members. Under their leadership, efforts have included the 
                        renovation of the temple and its surrounding area, restoring the stone structure and preserving gardens and groves.
                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        The only trusted descendant of this lineage, Sri Dixit, and subsequent generations have kept this tradition alive. Former Chief Pramukh of the Sri Dnyaneshwar Maharaj Sanstha Alandi, Dr. Prashant Anant Suru, undertook this commitment to revitalize his maternal ancestral home. Witnessing this, Sri Rangappa and Sri Lingeshwar Maite initiated the Shivadhanushya, contributing to the vibrant colors of the temple through Laxmi Construction, restoring it to its original stone form. Chemical processes have been used to restore broken sculptures, while damaged sculptures have been re-crafted. 
                        The sacred Deepmal has been erected, and efforts for conservation and upkeep have reached their conclusion.
                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        At the earlier entrance, a new torana has been constructed, symbolizing the revival of the traditional architecture and once again opening its doors for devotees. In this regard, a dedication ceremony will be held on Sunday, July 21, 2024, during Guru Purnima. The inauguration of the Dalan of Sri Ramakrishna Kshirsagar will follow. 
                        Upon the completion of the mahaarti arrangements will be made for the Mahaprasad for the assembled devotees.
                </tr>
                <br />
                <tr>
                    <td>
                        Following this, a Bhakti Sudha International Radio Channel Bhajan Sandhya program will be presented by Dr. Ashish Keshkar, Mrs. Bhagyashree Keshkar, and Aroha Foundation's Dr. Vikas Vaidya (Patil). Dr. Manisha Vaidya will lead this event. The festival will conclude with a Naradiya Kirtan performed by Pandit Yogeshji Kulkarni, followed by Aarti. This ancient temple's
                         preservation is an effort that we hope all members of the community, as well as their families, will take pride in.
                    </td>
                </tr>
            </table>
            <table *ngIf="translatebooelan===true">
                <tr>
                    <td>
                        श्रीगोंदा येथील श्री बालाजी मंदिर जीर्णोद्धार आणि संवर्धन 
                        विविध देव देवता आणि संत परंपरेसाठी महाराष्ट्र प्रसिद्ध आहे. त्यातही पुण्यश्लोक अहिल्यानगर ( पूर्वीआ अहमदनगर) जिल्हा हा त्यातील प्रसिद्ध व पुरातन मंदिरासाठी ओळखला जातो. प्राचीन सातवाहन, चालूक्या, यादव कालीन शयलीची मंदिरे ही दिसून येतात. थेट शिवकाळापासून ते पेशवाई पर्यंत विविध सरदारे मनसोबदारांनी आपापली कुलदै्यवते ग्राम तथा लोकदयवातांची मंदिरे स्वतः उभारली किंवा त्यासाठी निधी उपलब्ध करून दिला. यात शिंदे - होळकर -विंचूरकर आदि अनेकांनी या मंदिराना पुढील व्यवस्थेसाठी ईनाम जागा - बक्षीस जमीन अशा योजनाही आखल्या.
                        त्यांच्यापैकीच श्रीगोंदा या प्रसिद्ध गावातील एक प्राचीन प्रस्थापित मंदिर म्हणजे 'श्री व्यंकटेश बालाजी मंदिर श्रीगोंदा '. प्रत्यक्ष तिरुमला वरील तिरुपती बालाजीचे - महाराष्ट्रातील हे ऐतिहासिक स्थान आहे. इतक्या दूर न जाऊ शकणाऱ्या भक्तांसाठी श्रीगोंद्यात ही पवित्र मूर्ती सुमारे 250 वर्षांपासून आहे. ह. भ. प. कै. पांडुरंग मोरेश्वर क्षीरसागर यांनी हे मंदिर निर्माण केल्याबद्दल तत्कालीन सरदार शिंदे सरकारने त्याच्या व्यवस्थे साठी शेतजमीन - फुलबाग व रोजच्या पूजा अर्चा दीप नैवेद्यासाठी बक्षीस पत्रे दिले गेले.
                    </td>
                </tr>
                <br /> 
                <tr>
                    <td>
                        तेव्हापासून तेथील मूर्तीची पूजा अर्चा व सर्व दैनंदिन कार्य व संरक्षण करवायाचे कार्य आरंभ केले. त्यांच्या पश्चात त्यांच्या वंशपरंपरेने गेली आठ पिढ्या हे कार्य अव्याहत चालू आहे. मध्यंतरी क्षीरसागर घराण्याने कै परशुराम शंकर दीक्षित या जवळच्या नातेवाईकांस दत्तक घेऊन ही जबाबदारी दिली. यथाशक्ती हे कार्य सांभाळ्यावर वंशपरंपरेने ही जबाबदारी आता पुढील पिढीचे श्री गोविंद परशुराम दीक्षित सांभाळत आहेत.
                        काळाच्या ओघात मंदिर व आसमंत परिसर येथे या दगडी मंदिराला रंगरागोटी करण्यात आली होती. तसेच भवातलची तटबंदी, मंदिरातील ओवऱ्या व बाग यांना जतन करणे संवर्धन करणे आवश्यक होऊ लागले.
                    </td>
                </tr>
                <br />
                <tr>
                    <td>
                        ही बाब सध्याचे एकमेव वंशज विश्वस्त श्री दीक्षित व त्यांच्या परिवारातील पुढच्या पिढीच्या नजरेत आली. त्यावेळी श्री ज्ञानेश्वर महाराज संस्थान आळंदीचे माजी प्रमुख विश्वस्त वैद्य प्रशांत अनंत सुरु यांनी ही गोष्टी हेरली. स्वतःचे मातुल घराण्याचे ह्या देवालयाचा जीर्णोद्धार, पुनरुजीवन व्हावे असा संकल्प केला. ही गोष्ट अकदी नजीकची - 15 डिसेंबर 2023 ची. 
                        यापूर्वी मूर्तीला झालेल्या काही दोशांमुळे 1988 साली वसंत पंचमी च्या शुभमुहूर्तावर श्री दीक्षित यांनी नवीन मूर्तीची प्राणप्रतिष्ठा करावली होती. अहमदनगर (तत्कालीन) जिल्ह्यातील जन्मलेले व सर्वत्र प्रसिद्ध अशा प. पू. श्री रामकृष्ण क्षीरसागर महाराज यांच्या शुभहस्ते ही प्राणप्रतिष्ठा केली होती. गुरुदेवांचे आदेशानुसार नित्यक्रम, उत्सव साजरे केले जातात. पण काळानुरूप आर्थिक दौर्बल्यामुळे विकास खुंटला होता.
                        पण श्री ऋगवेद दीक्षित, सौ मानसी केसकर, सुरु परिवार आणि वैद्य प्रचिती व विशाल कुलकर्णी या नव्या पिढीच्या सहकार्याने हा संकल्प वेगाने पूर्णतःव प्राप्त करेल.
                    </td>
                </tr>
                <br />
                <tr >
                    <td>
                        श्री रंगप्पा व श्री लिंगेश्वर मैती या पिता पुत्रांच्या जोडीने हे शिवधनुष्य उचलले. श्री मैती परिवाराच्या लक्ष्मी कॉन्स्ट्रुकशन ने या मंदिराला दगडनावर चढावलेली रंगीबेरंगी पुटे उतरवली. त्याला पुनः मूळ दगडी रूप दिले. रासायनिक प्रक्रिया करतानाच भग्न झालेले खांब पुनः दगडी रूपात उभारले. तुटलेली काही शिल्पे नव्याने घडवली. नामशेष झालेल्या ओवऱ्या पुनः नव्याने बांधल्या. दीपमाळ उभारण्याचे व तटबंदी दुरुस्तीचे काम आता अंतिम टप्यात आले आहे.
                        पूर्वीच्या शैलीची मूळ मंदिराची ही देखणी वास्तू आता कात टाकून पून्हा एकदा भक्तांसाठी खुली होत आहे. मध्यंतरी बंद असलेला पूर्व दरवाजा उघडून नव्याने तोरण बांधून सज्य होत आहे.
                        याकरिता रविवार 21जुलै 2024 रोजी गुरुपौर्णिमेच्या मुहूर्तावर लोकार्पण सोहळा विश्वस्त व त्यांच्या परिवाराने योजला आहे. मूळ मूर्तीच्या प्राणप्रतिष्णतेवेळी गुरुदेव प. पू. क्षीरसागर महाराजांनी वापरलेल्या वस्तूंचे जतन करून त्यांच्या नावे एक स्वतंत्र दालन भक्तांसाठी खुले केले जाणार आहे. 
                    </td>
                </tr>
                <br />
                <tr >
                    <td>
                        आशीर्वाद लाभत आहेत. तेथील विश्वस्त सदभक्त श्री सौरभ बोराजी यांच्या प्रमुख हस्ते हा लोकार्पण सोहळा होणार आहे. याप्रसंगी त्यांच्या समवेत Dr. शैलेश गुजर व Dr. प्रीतम शाह यांची उपस्थिती लाभणार आहे. 
                        हे कार्य पूर्णतःवाला नेण्यासाठी श्री व्यंकटेश बालाजी मंदिर श्रीगोंदा यांचे स्वयंसेवक उत्साहात तयारी करत आहेत. सकाळचे धार्मिक विधी पवमान अभिषेक विष्णुसाहस्त्रनाम झाल्यावर हा लोकार्पण सोहळा व प. पू. गुरुदेव श्री रामकृष्ण क्षीरसागर दालनाचे उदघाटन केले जाईल.
                        महाआरती संपन्न झाल्यावर जमणाऱ्या भक्तांसाठी महाप्रसादाचे नियोजन आहे. त्यानंतर ' भक्तीसुधा आंतरराष्ट्रीय रेडिओ चॅनेल चे पं. आशिष केसकर, सौ. भाग्यश्री केसकर आणि आरोह संस्थेचे Dr. विकास वैद्य ( पाटस ) यांचे वतीने भजन संध्या हा कार्यक्रम सादर केला जाईल. Dr. मनीषा वैद्य संचालन करतील. संध्याकाळी नगरचे ह. भ. पं. योगेशजी कुलकर्णी यांच्या नारदिय कीर्तनाने या उत्सवचे समापन होईल व आरतीने सांगता होणार आहे. 
                        असे पुरातन मंदिर रक्षणाचे कार्य करताना आपला संस्कृतीक वारसा जपणे, वृद्धिंगत व संवर्धन करणे हा 'सत्यसंकल्प- ईश्वर कृपेने पूर्ण होत आहे. अशा शुभप्रसंगी सर्व भाऊ मंडळींनी याचा लाभ घ्यावा अशी विनंती विश्वस्त मंडळ व त्यांचे परिवारातील सदस्यांनी केलो आहे. आपणही 'तन -मन- धन अरपून या प्राचीन मंदिर संरक्षणातील आपापला भार पेलावात.
                    </td>
                </tr>
            </table>
        </div>
        <div class="col">
            <button *ngIf="translatebooelan===false" class="btn btn-outline-primary" type="button" (click)="translatebool()">मराठी मध्ये वाचा</button>
            <button *ngIf="translatebooelan===true" class="btn btn-outline-primary" type="button" (click)="translatebool()">Read In English</button>
        </div>
    </div>
</div>
